.gameboard {
  margin-top: 50px;
  margin-bottom: 80px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.display-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}