.gameboard {
  margin-top: 60px;
  margin-bottom: 125px;
}

.body {
  margin-top: 60px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.display-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr.highlighted {
  background-color: #70038F; height: 1px; border: 0;
}

.icon-inline {
  vertical-align: -10%;
}