
body {
  background-color: #202020;
  color: #ffffff;
  font-size: 0.8em;
}

.debug-ui {
  opacity: 1;
  z-index: 999;
}
.debug-ui .pane {
  padding-bottom: 120px;
}
.debug-ui .player.current {
  background-color: #007bff;
}

g > text {
  cursor: pointer;
}

.horizontal-warper {
  overflow: auto; 
  white-space: nowrap;
}

.horizontal-section-content {
  display: inline-block;
  margin: 3px;
  vertical-align: top;
}
