
body {
  background-color: #202020;
  color: #ffffff;
}

.debug-ui {
  opacity: 1;
  z-index: 999;
}
.debug-ui .pane {
  padding-bottom: 120px;
}

.debug-ui .player.current {
  background-color: #007bff;
}